<header>
<h1>
  <em><%= link_to article.title, article %></em>
</h1>
<p class="prescript">
  <% if article.division_id.nil? %>
    <%= render :partial => "users/author", :object => article.user %>
  <% else %>
    <%= link_to article.division.name, article.division if article.division != @division %>
  <% end %>
  <% case article.updated_at.to_date %>
  <% when Time.now.to_date %>
    <% if article.updated_at > article.created_at %>
    &nbspОбновлено:&nbsp
    <% end %>
    <%= time_tag article.updated_at, :pubdate => true, :format => '%R' %>
  <% else %>
    <% if article.updated_at > article.created_at %>
    &nbspОбновлено:&nbsp
    <% end %>
    <%= time_tag article.updated_at, :pubdate => true, :format => '%e.%m.%Y %R' %>
  <% end %>
</header>