<div class="row-fluid">
  <section id="articles" class="span8">
<%= render partial: 'menus/form' if current_user_administrator? %>
    <article>
<%= render partial: 'article', locals: { article: @article } %>
<% if attachment_images(@article).count > 0 %>
<ul class="thumbnails">
<%= render partial: 'attachment_image', collection: attachment_images(@article) %>
</ul>
<% end %>
<% if attachment_noimages(@article).count > 0 %>
<a name="attachments"></a>
<ul>
<%= render partial: 'attachment_noimage', collection: attachment_noimages(@article) %>
</ul>
<% end %>
<% if current_user_moderator? || current_user == @article.user %>
<%= form_for(@attachment) do |f| %>
  <div class="hidden">
    <%= f.label :article_id %><br />
    <%= f.number_field :article_id, :value => @article.id %>
  </div>  
  <div class="filefild">
    <%= f.label 'Прикрепить файл' %>
    <%= f.file_field :file %>
  </div>
  <div class="actions">
    <%= f.submit 'Прикрепить файл' %>
  </div>
<% end %>
<% end %>
	<div>
	  <% if @comments.count > 0 %>
	  <div id="comments">
	  <a name="comments"></a>
	  <%= render @comments %>
	</div>
	  <% end %>
	  <% if @article.commentable? && current_user_commentator?%>
	    <%= form_for(@comment) do |f| %>
	      <div class="hidden">
		<%= f.label :article_id %><br />
		<%= f.number_field :article_id, :value => @article.id %>
	      </div>
	      <div class="hidden">
		<%= f.number_field :user_id, :value => 1 %>
	      </div>
	      <div class="field">
		<%= f.text_area :content, :rows => 3 %>
	      </div>
	      <div class="actions">
		<%= f.submit %>
	      </div>
	    <% end %>
	  <% end %>
	</div>
    </article>
  </section>
  <section id="division_info" class="span4">
    <% if @article.division_id.nil? %>
      <p>
	<b>Имя пользователя:</b>
	<%= @article.user.profile.first_name + ' ' + @article.user.profile.last_name %>
      <% @article.user.posts.each do |p| %>
	<p>
	<b>Кто:</b>
	<%= p.name %><br />
	<strong>Где: </strong>
	<%= link_to p.division.name, p.division %>
      <% end %>
    <% else %>
      <% if @article.user.posts.count > 0 %>
	<p>
	  <strong>Сотрудники:</strong>
	  <ul>
	    <% @article.division.posts.each do |p| %>
	      <li>
		<%= link_to p.name + ': ' + p.user.profile.first_name + ' ' + p.user.profile.last_name, p.user %>
	      </li>
	    <% end %>
	  </ul>
      <% end %>
      <p>
	<b>Адрес:</b>
	<%= @article.division.location_verbose %>
	<img src="http://maps.googleapis.com/maps/api/staticmap?center=
	<%= @article.division.location_geo_latitude.to_s + ',' + @article.division.location_geo_longitude.to_s %>&zoom=16&size=250x250&sensor=false&maptype=hybrid&markers=color:blue%7C<%= @article.division.location_geo_latitude.to_s + ',' + @article.division.location_geo_longitude.to_s %>">
      <% end %>
  </section>
</div>