<div class="row-fluid">
<% if @articles.where(:fixed => false).count > 0 %>
  <section id="articles" class="span8">
    <header>
      <h1><%= @division.name %></h1>
    </header>
          <%= render @articles.where(:fixed => true).paginate(:page => params[:page], :per_page => 20) %>
          <%= will_paginate @articles.where(:fixed => true).paginate(:page => params[:page], :per_page => 20), :previous_label => "Назад", :next_label => "Вперед"  %>
  </section>
  <section id="division_info" class="span4">
<% else %>
  <section id="division_info" class="span12">
    <header>
      <h1><%= @division.name %></h1>
    </header>
<% end %>
    <% if @posts.count > 0 %>
      <p>
      <strong>Сотрудники:</strong>
      <ul>
        <% @posts.each do |p| %>
          <li>
            <%= link_to "#{p.user.profile.first_name}"' '"#{p.user.profile.middle_name}"' '"#{p.user.profile.last_name}", p.user %>
	    <%= "- #{p.user.profile.degree}, #{p.user.profile.title}" %>
          </li>
        <% end %>
      </ul>
    <% end %>
      <%= link_to 'Новая статья', new_article_path %>
    <p>
    <%= render @articles.where(:fixed => false) %>
    <%= will_paginate @articles.where(:fixed => false).paginate(:page => params[:page], :per_page => 10), :previous_label => "Назад", :next_label => "Вперед"  %>
    <b>Адрес:</b>
    <%= @division.location_verbose %>
    <p>
    <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @division.location_geo_latitude.to_s + ',' + @division.location_geo_longitude.to_s %>&zoom=16&size=250x250&sensor=false&maptype=hybrid&markers=color:blue%7C<%= @division.location_geo_latitude.to_s + ',' + @division.location_geo_longitude.to_s %>">
  </section>
</div>
