<!DOCTYPE html>
<html>
<head lang='ru'>
  <title>Isma</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= auto_discovery_link_tag(:atom, "/feed.atom") %>
  <meta charset='utf-8' />
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id="up">
<ul class="nav nav-pills">

<% menu_up.each do |k, v| %>
  <% if v.count > 0 %>
  <li class="dropdown">
  <%= link_to (k.title + caret).html_safe, k.url, class: 'dropdown-toggle', "data-toggle" => 'dropdown' %>
    <ul class="dropdown-menu">
    <% v.each do |m| %>
      <li>
      <%= link_to m.title, m.url %>
    <% end %>
    </ul>
  <% else %>
    <li>
    <%= link_to k.title, k.url %>
  <% end %>
<% end %>
<li class="pull-right">
        <div class="session">
      <% if session[:user_id] %>
          <span class="label label-info">
            <%= "#{session[:user_first_name]} " "#{session[:user_last_name].to_s}" %>
          </span>
          &nbsp
          <%= link_to "Выйти", logout_path %>
        </div>
        <% else %>
          <%= link_to 'Войти', login_path %>
        </div>
      <% end %>   
</ul>
  </nav>
<header>
<h1>
<%= image_tag "gerb.png" %>
<%= link_to details["Наименование академии полное"].gsub("\r\n", "<br />").html_safe, root_path %>
</h1></header>
  <% if notice then %>
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= notice %>
    </div>
  <% end %>
  <% if alert then %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= alert %>
    </div>
  <% end %>
  <div class="container row-fluid">
      <nav class="span2">
        <ul class="nav nav-list">
	<% menu_left.each do |k, v| %>
	  <% if v.count > 0 %>
	  <li class="nav-header hidden">
	  <%= k.title %>
	    <% v.each do |m| %>
	      <li>
		<%= link_to m.title, m.url %>
	    <% end %>
	  <% end %>
	<% end %>
        </ul>    
      </nav>
      <section class="span10">
    <%= yield %>
      </section>
  </div>
<footer>
  <% menu_down.each do |k, v| %>
  <nav class="pull-left">
    <ul class="nav nav-list">
      <% if v.count > 0 %>
      <li class="nav-header">
      <%= k.title %>
	<% v.each do |m| %>
	  <li>
	    <%= link_to m.title, m.url, target: 'blank' %>
	<% end %>
      <% end %>
    </ul>    
  </nav>
  <% end %>
<p class="clearfix">
<p>&copy; <%= details["Сокращенное наименование академии"] %>, 2013
<address><%= details["Адрес академии"] %></address>
</footer>
</body>
</html>