<!DOCTYPE html>
<html>
<head lang='ru'>
  <title>Isma</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta charset='utf-8' />
  <%= csrf_meta_tags %>
</head>
<body>

  <nav id="up">
<ul class="nav nav-pills">
  <li class="active"><%= link_to 'Главная', root_path %>
  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">Абитуриенту<b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Приемная комиссия', "#" %></li>
      <li><%= link_to 'Довузовская подготовка', "#" %></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">Студенту<b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Расписание', "#" %></li>
      <li><%= link_to 'Библиотека', "#" %></li>
      <li><%= link_to 'Социальная поддержка', "#" %></li>
      <li><%= link_to 'Допуск к медицинской деятельности', "#" %></li>
      <li><%= link_to 'Студенческая наука', "#" %></li>
      <li><%= link_to 'Совет студентов', "#" %></li>
      <li><%= link_to 'Досуг', "#" %></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">Сотруднику<b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Аттестация работников', "#" %></li>
      <li><%= link_to 'Социальня поддержка', "#" %></li>
      <li><%= link_to 'Методическое обеспечение', "#" %></li>
      <li><%= link_to 'Шаблоны документов', "#" %></li>
      <li><%= link_to 'Досуг', "#" %></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">Пациенту<b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Клиника ИвГМА', "#" %></li>
      <li><%= link_to 'Лечебная деятельность сотрудников', "#" %></li>
    </ul>
  </li>
      <li><%= link_to 'Об академии', "#" %></li>
        <div class="session">
      <% if session[:user_id] %>
          <span class="label label-info">
            <%= "#{session[:user_first_name]} " "#{session[:user_last_name].to_s}" %>
          </span>
          &nbsp
          <%= link_to "Выйти", logout_path %>
        </div>
        <% else %>
          <%= link_to 'Войти', login_path %>
        </div>
      <% end %>   
</ul>
  </nav>
<header>
<h1>
<%= image_tag "gerb.png" %>
<%= link_to title.gsub("\r\n", "<br />").html_safe, root_path %>
</h1></header>
  <% if notice then %>
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= notice %>
    </div>
  <% end %>
  <% if alert then %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= alert %>
    </div>
  <% end %>
  <div class="container row-fluid">
      <nav class="span2">
        <ul class="nav nav-list">
          <li class="nav-header">Администрация</li>
            <li><%= link_to 'Ученый совет', "/divisions/1" %></li>
            <li><%= link_to 'Учебная работа', "#" %></li>
            <li><%= link_to 'Научная работа', "#" %></li>
            <li><%= link_to 'Воспитательная работа', "#" %></li>
            <li><%= link_to 'Клиническая работа', "#" %></li>
            <li><%= link_to 'Административно-хозяйственная работа', "#" %></li>
            <li><%= link_to 'Подразделения', "#" %></li>
          <li class="nav-header">Факультеты</li>
            <li><%= link_to 'Лечебный', "#" %></li>
            <li><%= link_to 'Педиатрический', "#" %></li>
            <li><%= link_to 'Стоматологический', "#" %></li>
            <li><%= link_to 'Менеджмента и высшего сестринского образования', "#" %></li>
            <li><%= link_to 'Послевузовского образования', "#" %></li>
            <li><%= link_to 'Дополнительного образования', "#" %></li>
        </ul>    
      </nav>
      <section class="span10">
    <%= yield %>
      </section>
  </div>
<footer>
<p>&copy; <%= isma %>, 2013
<address><%= address %></address>
</footer>
</body>
</html>